<div class="gameboy">
    <div class="gameboy-sceen">
        <div [style.background-image]="'url(' + chooseArena + ')'" class="battleArena">
            <app-pokemon-renderer *ngIf="battle.FirstPokemon" [pokemon]="battle.FirstPokemon" [isFirst]="true"></app-pokemon-renderer>
            <app-pokemon-renderer *ngIf="battle.SecondPokemon" [pokemon]="battle.SecondPokemon" [isFirst]="false"></app-pokemon-renderer>
        </div>
        <app-move-selector [pokemon]="battle.FirstPokemon" ></app-move-selector>
    </div>
</div>