.card-body {
    padding: 10px 0.25rem;
}

.card {
    padding-top: 10px;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    border-color: #ffe165;
    border-width: 5px;
}

.pokesprite {
    height: 60px;
    width: auto;
    display: inline-block;
}

.card-title {
    margin-bottom: 0;
}

.btn {
    background-color: #e11c1c;
    border-color: black;
}

.btn:hover {
    color: white;
    background-color: #ff1c1c;
    cursor: url("../../../assets/cursors/master-ball.png") 15 15, auto;
}

.btn:active {
    background-color: #b70000;
    border: #430000;
}


h1 {
    font-family: pokemon-title;
}

h5 {
    font-size: 13px;
}

button, span {
    font-size: 10px;
}

h5, button, span {
    font-family: pokemon-console;
}

.pokeTypes {
    font-size: 8px;
}

.pokeball {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 0;
    height: 30px;
}

.potionDiv {
    position: absolute;
    right: 5px;
    margin-top: -2px;
}

.potionDiv:hover {
    cursor: url("../../../assets/cursors/master-ball.png") 15 15, auto;
}
