.card-body{
    padding: 10px 0.25rem;
}

.card {
    padding-top: 10px;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    border-color: #ffe165;
    border-width: 5px;
}

.pokesprite {
    height: 60px;
    width: auto;
    display: inline-block;
}

.card-title{
    margin-bottom: 0;
}

.btn {
    background-color: #e11c1c;
    border-color: black;
}
.btn:hover{
    background-color: #ff1c1c;
}


h1 {
    font-family: pokemon-title;
}

.pokeball {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 0;
    height: 30px;
}