<div class="container">
    <h1 class="text-center">Welcome on your POKEDEX!</h1>
    <h1 class="text-center">Time is {{today | date:'HH:mm:ss'}}</h1>
    <hr/>
    <form [formGroup]="searchForm" *ngIf="searchForm && pokedexReady" (submit)="onSearch()" >
        <div class="text-center form-group">
            <div class="row" >
                <label for="pokeName" class="col-md-3 col-form-label text-right" >Search for a Pokemon :</label>
                <div class="col-md-9 input-group" >
                    <input id="pokeName" type="text" class="form-control" formControlName="pokemonNameSearch" name="pokemonNameSearch" />
                    <button type="submit" class="input-group-append btn btn-sm">Go!</button>
                </div>
            </div>
        </div>
        <hr/>
    </form>
    <div *ngIf="pokedexReady" class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let poke of displayedPokemons">
            <div class="card">
                <img class="pokeball" src="/assets/pictures/pokeball_card.png">
                <img class="card-img-top pokesprite" [src]="getPokeSprite(poke)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>{{poke.Name}}</b></h5>
                    <h5 class="card-title">Level {{poke.Level}}</h5>
                    <span class="pokeTypes">{{getPokemonTypes(poke)}}</span>
                    <hr/>
                    <div class="potionDiv" *ngIf="poke.getHpPercents() < 100" (click)="regeneratePokemon(poke)" [title]="getPotionTitle(poke)">
                        <img *ngIf="poke.getHpPercents() < 100 && poke.getHpPercents() > 0" src="assets/pictures/hyper-potion.png" />
                        <img *ngIf="poke.getHpPercents() == 0" src="assets/pictures/max-potion.png" />
                    </div>
                    <span>Hp</span>
                    <div class="progress">
                        <div class="progress-bar" [ngClass]="poke.getHpColor()" role="progressbar" [style.width]="poke.getHpPercents() + '%'" ></div>
                    </div>
                    <span>Xp</span>
                    <div class="progress progressRenderer">
                        <div class="progress-bar bg-info" role="progressbar" [style.width]="poke.getXpPercents() + '%'" ></div>
                    </div>
                    <hr/>
                    <button [disabled]="poke.isDie()" type="button" [routerLink]="['/battle-arena', poke.Name]" class="btn btn-sm">{{poke.isDie()?'Give me a potion..': 'I choose you!'}}</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!pokedexReady" class="preloader">
        <img src="/assets/pictures/loading.gif"/>
    </div>
</div>
