.lifeRenderer {
    position: absolute;
    width: 200px;
    z-index: 100;
}

.first > .lifeRenderer {
    bottom: 5px;
    right: 40px;
}

.second > .lifeRenderer {
    top: 60px;
    left: 40px;
}

.labelRenderer {
    font-family: pokemon-console;
    font-size: 12px;
    font-style: normal;
    position: absolute;
    z-index: 105;
}

.pvLabel {
    bottom: 18px;
    right: 52px;
}

.first > .nameLabel {
    font-size: 10px;
    bottom: 51px;
    left: 385px;
}

.second > .nameLabel {
    font-size: 10px;
    top: 68px;
    left: 50px;
}

.first > .levelLabel {
    bottom: 51px;
    left: 500px;
}

.second > .levelLabel {
    top: 68px;
    left: 165px;
}

.progressRenderer {
    background-color: #e7dbe9;
    z-index: 99;
    position: absolute;
}

.first > .hpProgress {
    height: 6px;
    width: 93px;
    bottom: 38px;
    left: 452px;
}

.second > .hpProgress {
    height: 6px;
    width: 96px;
    top: 94px;
    left: 118px;
}


.xpProgress {
    height: 5px;
    width: 125px;
    bottom: 8px;
    left: 420px;
}


