.card-body{
    padding: 10px 0.25rem;
}

.card {
    padding-top: 10px;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

.pokesprite {
    height: 60px;
    width: auto;
    display: inline-block;
}

.card-title{
    margin-bottom: 0;
}