.card {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10px;
}

.pokesprite {
    height: 60px;
    width: auto;
    display: inline-block;
}

.card-title{
    margin-bottom: 0;
}