<h1>
    Time is {{today | date:'HH:mm:ss'}}
</h1>
<div  class="container">
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6" *ngFor="let poke of getAllPokemons()">
            <div class="card">
                <img class="card-img-top pokesprite" [src]="getPokeSprite(poke)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{poke.Name}}</h5>
                    <p class="card-text">{{poke.Type}}</p>
                    <p class="card-text">{{poke.Moves}}</p>
                    <a [routerLink]="['/battle', poke.Name]" class="btn btn-primary btn-sm">I chose you!</a>
                </div>
            </div>
        </div>
    </div>
</div>
