<div *ngIf="moveSelectRequire" class="container moveSelectorBackground">
    <div class="moveSelector">
        <div *ngIf="selectType=='mode'">
            <span (click)="onFightSelect()" (mouseleave)="cursor=''" (mouseenter)="cursor='fight'"><span *ngIf="cursor=='fight'">&gt;</span>FIGHT</span>
            <br/>
            <br/>
            <span (click)="onRunSelect()" (mouseleave)="cursor=''" (mouseenter)="cursor='run'"><span *ngIf="cursor=='run'">&gt;</span>RUN</span>
        </div>
        <div *ngIf="selectType=='run'">
            <span (click)="onRun()" (mouseleave)="cursor=''" (mouseenter)="cursor='yes'"><span *ngIf="cursor=='yes'">&gt;</span>YES</span>
            <br/>
            <br/>
            <span (click)="onNotRun()" (mouseleave)="cursor=''" (mouseenter)="cursor='no'"><span *ngIf="cursor=='no'">&gt;</span>NO</span>
        </div>
        <div *ngIf="selectType=='fight'">
            <span *ngIf="pokemon.Moves[0]" (click)="onMoveSelected(pokemon.Moves[0])" (mouseleave)="cursor=''" (mouseenter)="cursor='yes'"><span *ngIf="cursor=='yes'">&gt;</span>{{pokemon.Moves[0].Name}}</span>
            <span *ngIf="pokemon.Moves[1]" (click)="onMoveSelected(pokemon.Moves[1])" (mouseleave)="cursor=''" (mouseenter)="cursor='yes'"><span *ngIf="cursor=='yes'">&gt;</span>{{pokemon.Moves[1].Name}}</span>
            <span *ngIf="pokemon.Moves[2]" (click)="onMoveSelected(pokemon.Moves[2])" (mouseleave)="cursor=''" (mouseenter)="cursor='yes'"><span *ngIf="cursor=='yes'">&gt;</span>{{pokemon.Moves[2].Name}}</span>
            <span *ngIf="pokemon.Moves[3]" (click)="onMoveSelected(pokemon.Moves[3])" (mouseleave)="cursor=''" (mouseenter)="cursor='no'"><span *ngIf="cursor=='no'">&gt;</span>{{pokemon.Moves[3].Name}}</span>
        </div>
    </div>
</div>