:host {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
}

.powerLed {
    width: 35px;
    height: 35px;
}

.powerLed > img {
    position: absolute;
    top:143px;
    left:-133px;
    width: 35px;
    height: 35px;
    z-index: 10000;
}

.startVideo {
    width: 600px;
    margin-top: 75px;
}

.battleArena {
    position: relative;
    background-size: cover;
    width: 600px;
    height: 460px;
}

.gameboy {
    background: url("../../../assets/pictures/gameboy.png") no-repeat center top;
    text-align: center;
    position: relative;
    margin-top: -140px;
    height: 1889px;
}

.gameboy-sceen {
    position: relative;
    display: inline-block;
    margin-top: 170px;
    background-color: #fff6ff;
    height: 556px;
}