.pokemonRenderer {
    position: absolute;
    z-index: 100;
    transform-origin: bottom center;
}

.pokeballRenderer {
    position: absolute;
    width: 50px;
    z-index: 100;
}

.firstPokeball {
    bottom: 0px;
    left: 0px;
}

.secondPokeball {
    top: 0px;
    right: 0px;
}

.firstPokemon {
    bottom: 0;
    left: 200px;
    transform: scale(2) translateX(-50%);
}

.secondPokemon {
    bottom: 220px;
    right: 180px;
    transform: scale(2) translateX(+50%);
}