.pokemonRenderer {
    position: absolute;
    z-index: 100;
    width: 150px;
    height: 200px;
    object-fit: contain;
    object-position: bottom;
}

.pokeballRenderer {
    position: absolute;
    width: 50px;
    z-index: 100;
}

.firstPokeball {
    bottom: 0px;
    left: 0px;
}

.secondPokeball {
    top: 0px;
    right: 0px;
}

.firstPokemon {
    bottom: 0px;
    left: 125px;
}

.secondPokemon {
    bottom: 220px;
    right: 65px;
}