.lifeRenderer {
    position: absolute;
    width: 200px;
    z-index: 100;
}

.firstLife {
    bottom: 5px;
    right: 40px;
}

.secondLife {
    top: 60px;
    left: 40px;
}

.labelRenderer {
    font-family: pokemon-console;
    font-size: 12px;
    font-style: normal;
    position: absolute;
    z-index: 105;
}

.pvLabel {
    bottom: 18px;
    right: 52px;
}

.nameFirst {
    font-size: 10px;
    bottom: 51px;
    left: 385px;
}

.nameSecond {
    font-size: 10px;
    top: 68px;
    left: 50px;
}

.levelFirst {
    bottom: 51px;
    left: 500px;
}

.levelSecond {
    top: 68px;
    left: 165px;
}

.progressRenderer {
    background-color: #e7dbe9;
    z-index: 99;
    position: absolute;
}

.hpProgressFirst {
    height: 6px;
    width: 93px;
    bottom:38px;
    left:452px;
}

.xpProgress {
    height: 5px;
    width: 125px;
    bottom:8px;
    left:420px;
}

.hpProgressSecond {
    height: 6px;
    width: 96px;
    top:94px;
    left:118px;
}