/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: pokemon;
  src: url(assets/fonts/pokemon.ttf);
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}