/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: pokemon-title;
    src: url(assets/fonts/pokemon.ttf);
}

@font-face {
    font-family: pokemon-console;
    src: url(assets/fonts/pokemon-console.ttf);
}

app-root {
    display: block;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-size: cover;
    background: #464646 url("assets/pictures/background.png") no-repeat fixed center center;
}

/*Disable image select*/
img {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

/*Disable image drag*/
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.preloader > img {
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}